@media only screen and (max-device-width: 450px) {
  .cabeçalio {
    height: auto;
    padding-bottom: 48px;
  }

  .content-container {
    width: 96vw;
    max-width: 96vw;
  }
  
  .naveg {
    width: 100%;
    margin-top: 24px;
  }

  .barra-link {
    display: none;
  }

  .intro-title {
    font-size: 35px;
    margin-top: 12px;
  }

  .intro-paraf {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
  }
  
  .intro {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
  }
  
  .intro-img {
    width: 250px;
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
  }

  h2 {
    line-height: 50px;
    font-size: 45px;
  }

  
  .container-habilidade {
    row-gap: 36px;
    grid-template-columns: auto;
    margin-top: 30px;
  }
  
  .title-portfolio {
    line-height: 50px;
    font-size: 62px;
  }

  .portfolio-grid {
    row-gap: 36px;
    grid-template-columns: auto;
    margin-top: 50px;
  }

  .experiencias {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .experiencias-grid {
    margin-top: 10px;
  }

  .experiencias-card {
    width: 80vw;
  }

  .contato {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .footerCl {
    width: 94vw;
  }
}